/* globals.css */
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f8f9fa;
  color: #212529;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.header .top-bar {
  background-color: #003049;
  color: white;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .zakazi-btn {
  background-color: #f77f00;
  color: white;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.header .zakazi-btn:hover {
  background-color: #d65a00;
}

.header .main-nav {
  color: white;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; 
}

.header .logo a{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:10px;
}

.header .logo span {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none; 
  font-size: 2rem;
}

.header .slogan {
  font-size: 0.9rem;
  color: #ffffff;
  margin-top: -5px;
}

.header nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.header nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
}

.header nav a:hover {
  color: #f77f00;
}

.header {
  position: absolute; /* ili fixed */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
} 

.header .kontakt-info a {
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
}

.header .kontakt-info a:hover {
  color: #f77f00;
}

.hero-section {
  height: 100vh;
  background-image: url('/images/hero2.png');
  background-size:auto;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  width: 100vw;
  position: relative;
  z-index: -1;
  left: 50%;
  right: 50%; 
  margin-left: -50vw;
  margin-right: -50vw; 
} 

.hero-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* tamni sloj da istakne tekst */
}

.hero-content {
  padding-top: 20rem;
  padding-bottom: 2rem;
  color: white;
}

.hero--home {
  height: 90vh;
}

.hero--page {
  height: auto;
}

.our-services img{
  width:10rem;
  height: 10rem;
}

footer {
  background-color: #003049;
  color: white;
  padding: 2rem 1rem;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 1rem;
}

footer h4 {
  margin-bottom: 0.5rem;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  margin-bottom: 0.5rem;
}

footer a {
  color: #fcbf49;
  text-decoration: none;
}

footer a:hover {
  color: #f77f00;
}

footer div:last-child {
  text-align: center;
  font-size: 0.875rem;
  border-top: 1px solid #dee2e6;
  padding-top: 1rem;
  color: #ced4da;
}

.sticky-navbar {
  position: fixed ;
  top: 0;   
  left:0;
  right:0;
  background-color: white;
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
  z-index: 999;
  margin:auto;
  padding:3px 1rem  !important;
  transform: translateY(10%);
  transition: transform 0.6s ease-in-out;
  background: rgba(120, 120, 120, 0.7); /* poluprozirno belo */
  backdrop-filter: blur(6px);          /* zamućenje pozadine */
  -webkit-backdrop-filter: blur(10px);  /* podrška za Safari */
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
} 

.slideIn {
  opacity: 0;
  transform: translateY(-50px);
  animation: slideIn 0.8s ease-out forwards;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .main-nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .footer-top {
    flex-direction: column;
  }
}
