/* globals.css */
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f8f9fa;
  color: #212529;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.header .top-bar {
  background-color: #003049;
  color: white;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .zakazi-btn {
  background-color: #f77f00;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  margin-left: 8px;
  text-align: center;
  z-index: 1000;
  margin:3px;
}

.header .zakazi-btn:hover {
  background-color: #d65a00;
}
 

.header .main-nav {
  color: white;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; 
}

.header .logo a{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:10px;
}

.header .logo span {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none; 
  font-size: 2rem;
}

.header .slogan {
  font-size: 0.9rem;
  color: #ffffff;
  margin-top: -5px;
}

.header nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.header nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
}

.header nav a:hover {
  color: #f77f00;
}

.header {
  position: absolute; /* ili fixed */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
} 

.header .kontakt-info a {
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
}

.header .kontakt-info a:hover {
  color: #f77f00;
}

.hero-section {
  height: 100vh;
  background-image: url('/images/hero2.png');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  width: 100vw;
  /* z-index: -1;  <-- ovo obriši */
  left: 50%;
  right: 50%; 
  margin-left: -50vw;
  margin-right: -50vw; 
}


.hero-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* tamni sloj da istakne tekst */
  pointer-events: none;
}

.hero-content {
  padding-top: 20rem;
  padding-bottom: 2rem;
  color: white;
  pointer-events: auto;
}

.hero--home {
  height: 90vh;
}

.hero--page {
  height: auto;
}

/* Manji ekrani */
@media (max-width: 768px) {
  .hero-section {
    height: 60vh; /* smanjena visina */
  }
}

@media (max-width: 480px) {
  .hero-section {
    height: auto; /* još manja visina na vrlo malim ekranima */
  }

  .hero-content h1 {
    font-size: 1.8rem;
  }

  .hero-content p {
    font-size: 1rem;
  }
}

.our-services img{
  width:10rem;
  height: 10rem;
}

footer {
  background-color: #003049;
  color: white;
  padding: 2rem 1rem;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 1rem;
}

footer h4 {
  margin-bottom: 0.5rem;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  margin-bottom: 0.5rem;
}

footer a {
  color: #fcbf49;
  text-decoration: none;
}

footer a:hover {
  color: #f77f00;
}

footer div:last-child {
  text-align: center;
  font-size: 0.875rem;
  border-top: 1px solid #dee2e6;
  padding-top: 1rem;
  color: #ced4da;
}

.sticky-navbar {
  position: fixed ;
  top: 0;   
  left:0;
  right:0;
  background-color: white;
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
  z-index: 999;
  margin:auto;
  padding:3px 1rem  !important;
  transform: translateY(10%);
  transition: transform 0.6s ease-in-out;
  background: rgba(120, 120, 120, 0.7); /* poluprozirno belo */
  backdrop-filter: blur(6px);          /* zamućenje pozadine */
  -webkit-backdrop-filter: blur(10px);  /* podrška za Safari */
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
} 

.slideIn {
  opacity: 0;
  transform: translateY(-50px);
  animation: slideIn 0.8s ease-out forwards;
}

.services {
  padding: 40px;
  text-align: center;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px; /* margine između kvadrata */
  margin-top: 30px;
}

.service-card {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 40px 20px;
  font-size: 18px;
  font-weight: 500;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}

.services-card img{
  width: 250px;
}

.services-card {
  opacity: 0;
  transform: translateY(20px);
}

.services-card.fade-in {
  animation: fadeInUp 1s ease-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .main-nav {
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
  }

  .footer-top {
    flex-direction: column;
  }
}

.hamburger {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

/* Desktop */
.nav-links ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

/* Mobile */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    display: none;
    position: absolute;
    top: 60px;
    background: #222;
    padding: 15px;
    border-radius: 8px;
    width:80%;
    text-align: center;
    font-size: 1.4em;
  }

  .nav-links.open {
    display: block;
  }

  .nav-links ul {
    flex-direction: column;
    gap: 15px;
  }

  .nav-links a {
    color: white;
    display: block;
  }
}
